<app-search></app-search>
<div class="d-flex flex-wrap justify-content-around">
  <div
    *ngFor="let drink of api.drinksList"
    class="card m-2"
    style="width: 18rem"
  >
    <img [src]="drink.image" class="card-img-top" alt="drink image" />
    <div class="card-body">
      <h5 class="card-title">{{ drink.name }}</h5>
      <h6 class="text-muted fst-italic">{{drink.category}}</h6>

      <div class="text-end">
        <a (click)="handleOnInfo(drink.id)" class="btn btn-primary">Info</a>
      </div>
    </div>
  </div>
</div>
