<nav class="navbar navbar-dark bg-primary p-4">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><i class="bi bi-cup-straw"></i> Cocktail Application</a
    >
    <button class="btn btn-outline-light" routerLink="/search">
      Search <i class="bi bi-search"></i>
    </button>
  </div>
</nav>
<h1>Random Cocktail</h1>
<app-detail type="samePage"></app-detail>
<h1>Cocktail List</h1>
<ul class="nav nav-tabs justify-content-center nav-justified">
  <li
    class="nav-item"
    *ngFor="let label of tabLabels"
    (click)="onChangeTab(label)"
  >
    <a class="nav-link" [ngClass]="{ active: activeTab === label }">{{
      label
    }}</a>
  </li>
</ul>
<div class="text-muted">{{api.cocktailList?.length}} results found</div>
<app-card-list list="cocktailList" type="samePage"></app-card-list>
