<div class="card detailCard">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        [src]="api.cocktailDetail?.image"
        class="img-fluid rounded"
        alt="drink image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ api.cocktailDetail?.name }}</h2>
        <p class="card-text">
          <small class="text-muted fst-italic">{{
            api.cocktailDetail?.id
          }}</small>
        </p>
        <p class="card-text">
          <span class="badge text-bg-primary fst-italic">{{
            api.cocktailDetail?.alcoholic
          }}</span>
          - {{ api.cocktailDetail?.category }}
        </p>
        <p class="card-text">
          {{ api.cocktailDetail?.instructions }}
        </p>
        <p>
          <span class="fw-bold fst-italic">Ingredients:</span>
          <li
            *ngFor="let ingredient of api.cocktailDetail?.ingredients"
            (click)="ingredientOnClick($event)"
          >
            {{ ingredient }}
          </li>
        </p>
        <p>
          <span class="fw-bold fst-italic">Measures:</span>
          <li *ngFor="let measure of api.cocktailDetail?.measures">
            {{ measure }}
          </li>
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="disableCocktailView === false">
  <h1>Cocktails with {{ searchedIngredient }}</h1>
  <div class="text-muted">{{ api.cocktailList?.length }} results found</div>
  <div class="d-flex flex-wrap justify-content-around">
    <div
      *ngFor="let drink of api.cocktailList"
      class="card m-2"
      style="width: 18rem"
    >
      <img [src]="drink.image" class="card-img-top" alt="drink image" />
      <div class="card-body">
        <h5 class="card-title">{{ drink.name }}</h5>
        <h6 class="text-muted fst-italic">{{ drink.id }}</h6>
        <div class="text-end">
          <a class="btn btn-primary" (click)="infoOnClick(drink.id)">Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
