<nav class="navbar navbar-dark bg-primary p-4">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><i class="bi bi-cup-straw"></i> Cocktail Application</a
    >
    <button class="btn btn-outline-light" routerLink="/home">
      Home <i class="bi bi-house-fill"></i>
    </button>
  </div>
</nav>
<ul class="nav nav-tabs justify-content-center nav-justified">
  <li class="nav-item" (click)="onChangeTab('search')">
    <a class="nav-link" [ngClass]="{ active: activeTab === 'search' }">
      Search
    </a>
  </li>
  <li class="nav-item" (click)="onChangeTab('ingredients')">
    <a class="nav-link" [ngClass]="{ active: activeTab === 'ingredients' }">
      Ingredients
    </a>
  </li>
</ul>
<div *ngIf="activeTab === 'search'">
  <div class="container">
    <form
      class="row row-cols-md-auto g-3 align-items-center justify-content-center mt-3"
      (submit)="onSubmit($event)"
    >
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Drink Name"
          (input)="nameOnChange($event)"
          [disabled]="disableNameInput"
        />
      </div>
      <div class="col">
        <input
          class="form-control"
          list="drinkIngredient"
          placeholder="Drink Ingredient"
          (input)="ingredientOnChange($event)"
          [disabled]="disableIngredientInput"
        />
        <datalist id="drinkIngredient">
          <option
            *ngFor="let ingredient of api.ingredientList"
            [value]="ingredient"
          ></option>
        </datalist>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  <app-card-list
    *ngIf="disableCocktailView === false"
    list="cocktailList"
    type="samePage"
  ></app-card-list>
</div>
<div *ngIf="activeTab === 'ingredients'">
  <app-card-list list="ingredientList" type="samePage"></app-card-list>
</div>
